<div class='container'>
  <h3>Select Size Your Size</h3>
  <label>
    <p>Select size:</p>
  </label>
  <select [(ngModel)]='cartstock.size'>
      <option value='small'>Small</option>
      <option value='medium'>Medium</option>
      <option value='large'>Large</option>
      <option value='x-large'>X-Large</option>
      <option value='xx-large'>XX-Large</option>
  </select>
  <label>
    <p>Select quantity:</p>
  </label>
  <select [(ngModel)]='cartstock.quantity'>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>
  <div>
    <button (click)='addCart()'>Add to Cart</button>
  </div>
</div>
