.formContainer{
    display:flex;
    height: 100%;
    margin-top: 70px;
    font-family: 'Open Sans', sans-serif;
}

form{
    margin:auto;
    padding: 80px;
    text-align:center;
    background:#9AD0D5;
    border-radius: 10px;

    .shift{
        margin-left: 40px;
    }

    .shift-more{
        margin-left: 48px;
    }

    .shift-three{
        margin-left: 18px;
    }

    input{
        margin:10px;
        border-radius: 5px;
        border:none;

        &:focus{
            outline: none;
        }
    }

    .submitButton{
        width: 90%;
        height: 90%;
        &:hover{
            background-color: white;
            color: #D9514E;
            border: 2px solid #D9514E;
        }
    }

    .toggleButton{
        width: 70%;
        height: 70%;
        background-color: #F6D57A;
    }
    button{
        margin:10px;
        padding: 6px 10px;
        background-color: #D9514E;
        color: white;
        border-radius: 3px;
        font-size: 12px;
        outline: 0;
        border: 0;
        cursor: pointer;
        width: 8vw;
        height: 3em;
        transition-duration: 0.8s;
    }
}