<div *ngIf='!toggleForm' class="formContainer signup">
  <form name='form' (ngSubmit)='signUp()' [formGroup]='user'>
    <h2>Sign Up</h2>
    <mat-form-field>
      <input matInput placeholder="First Name">
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput placeholder="Last Name">
      </mat-form-field>
      <br />
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>
  <br />

  <mat-form-field>
    <input matInput placeholder="Password">
  </mat-form-field>
  <br />

  <button class="submitButton">Submit</button>
  <br />
  <button class="toggleButton" (click)="toggle()">Login</button>
  </form>
</div>

<div *ngIf="toggleForm" class="formContainer login">
  <form name='form' (ngSubmit)='logIn()' [formGroup]='user'>
      <h2>Login</h2>
    <mat-form-field>
      <input matInput  placeholder="Email" >
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput placeholder="Password">
    </mat-form-field>
    <br />

    <button class="submitButton">Submit</button>
    <br />
    <button mat-button class="toggleButton" (click)="toggle()">Sign Up</button>
  </form>
</div>