@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.container{
    font-family: 'Roboto Condensed', sans-serif;
    width:90%;
    display: grid;
    grid-template-columns: 30% auto;
    padding:1em;
    margin:0 auto;
}

header{
    background: white;
    border-bottom: 2px solid black;

    img{
        width:30%;
    }

    .logo{
        font-weight: bold;
        text-decoration: none;
        width:700px;
    }

    nav{
        justify-self: right;
        margin-top: auto;
        margin-bottom:auto;

        ul{
            list-style-type:none;
            margin:0; padding: 0;

            li{
                float:left;
            }
        
                a{
                    padding:1.5em;
                    text-decoration: none;
                    color: black;
                }
        }
    }

    .mainUl {
        .dropbtn-men{
            &:hover{
                background-color: black;
                color: white;
                .dropdown-men{
                    display: block;
                    visibility: visible;
                }
            }
            
        }
        .dropdown-men{
            display: none;
            visibility: hidden;
        }

        .dropbtn-women{
            &:hover{
                background-color: black;
                color: white;
                .dropdown-women{
                    display: block;
                    visibility: visible;
                }
            }
            
        }
        .dropdown-women{
            display: none;
            visibility: hidden;
        }
    }
}




