<header>
    <div class='container'>
      <a routerLink='/' class='logo'><img src='../assets/eleven-fifty-primary.png'/></a>
        <nav>
          <ul>
            <li><a (click)="toggleMens()" class='clothes' routerLink='mens'>mens</a></li>
              <ul *ngIf="dropdownMens" class="dropdown-mens">
                <a class="dropdown-items">T-Shirts</a>
                <a class="dropdown-items">Long Sleeve Shirts</a>
                <a class="dropdown-items">Hoodies</a>
                <a class="dropdown-items">Accessories</a>
              </ul>
            <li><a class='clothes' routerLink='womens'>womens</a></li>
            <li><a routerLink='sale'>on sale</a></li>
            <li><input type="search"></li> 
            <li><a routerLink='auth'>login/signup</a></li>
            <li><a routerLink='admin'>admin</a></li>
            <li><a routerLink='cart'>cart</a></li>
            
          </ul>
        </nav>
    </div>
  </header>


