<header>
    <div class='container'>
      <a routerLink='/' class='logo'><img src='../assets/eleven-fifty-primary.png'/></a>
        <nav>
          <ul>
            <li><a (mouseover)="toggleMens()" class='clothes' routerLink='mens'>Mens</a></li>
              <ul *ngIf="dropdownMens" class="dropdown-mens">
                <a class="dropdown-items">T-Shirts</a>
                <a class="dropdown-items">Long Sleeve Shirts</a>
                <a class="dropdown-items">Hoodies</a>
                <a class="dropdown-items">Accessories</a>
              </ul>
            <li><a (mouseover)="toggleWomens()" class='clothes' routerLink='womens'>Womens</a></li>
              <ul *ngIf="dropdownWomens" class="dropdown-womens">
                <a class="dropdown-items">T-Shirts</a>
                <a class="dropdown-items">Long Sleeve Shirts</a>
                <a class="dropdown-items">Hoodies</a>
                <a class="dropdown-items">Accessories</a>
              </ul>
            <li><a routerLink='sale'>Sale</a></li>
            <li><a routerLink='auth'>Login/Signup</a></li>
            <li><a routerLink='admin'>Admin</a></li>
            <li><a routerLink='cart'>Cart</a></li>
            <li><input type="search"></li> 
            
          </ul>
        </nav>
    </div>
  </header>


