<header>
    <div class='container'>
      <a routerLink='/' class='logo'><img src='../assets/eleven-fifty-primary.png'/></a>
        <nav>
          <ul>
            <li><a (mouseover)="toggleMens()" class='clothes' routerLink='mens'>Mens</a></li>
              <ul (mouseleave)="toggleMens()" *ngIf="dropdownMens" class="dropdown-mens">
                <a href="mens" id="t-shirt" class="dropdown-items" (click)='getMCategory($event)'>Shirts</a>
                <a id="hoodie" class="dropdown-items" (click)='getMCategory($event)'>Hoodies</a>
                <a id="pants" class="dropdown-items" (click)='getMCategory($event)'>Sweatpants</a>
                <a id="accessories" class="dropdown-items" (click)='getMCategory($event)'>Accessories</a>
              </ul>
            <li><a (mouseover)="toggleWomens()" class='clothes' routerLink='womens'>Womens</a></li>
              <ul (mouseleave)="toggleWomens()" *ngIf="dropdownWomens" class="dropdown-womens">
                  <a id="t-shirt" class="dropdown-items" (click)='getWCategory($event)'>Shirts</a>
                  <a id="hoodie" class="dropdown-items" (click)='getWCategory($event)'>Hoodies</a>
                  <a id="pants" class="dropdown-items" (click)='getWCategory($event)'>Sweatpants</a>
                  <a id="accessories" class="dropdown-items" (click)='getWCategory($event)'>Accessories</a>
              </ul>
            <li><a routerLink='sale'>Sale</a></li>
            <li><a routerLink='auth'>Login/Signup</a></li>
            <li><a routerLink='admin'>Admin</a></li>
            <li><a routerLink='cart'>Cart</a></li>
            <li><input type="search"></li> 
            
          </ul>
        </nav>
    </div>
  </header>


