@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.container{
    font-family: 'Roboto Condensed', sans-serif;
    width:100%;
    display: grid;
    grid-template-columns: 30% auto;
    // padding:1em;
    margin:0 auto;
}

header{
    background: white;
    width:100%;
    border-bottom: 2px solid black;

    img{
        width:30%;
    }

    .logo{
        font-weight: bold;
        text-decoration: none;
        width:700px;
    }

    nav{
        justify-self: right;
        margin-top: auto;
        margin-bottom:auto;

        ul{
            list-style-type:none;
            margin:0; padding: 0;

            .dropdown-mens{
                position: absolute;
                display: block;
                padding: 16px;
                margin-top: 40px;
            }
            
            .dropdown-items{
                display: block;
                z-index: 1;
                background-color: black;
                color: white;
                padding: 14px;
                
                &:hover{
                    background: #a992bc;
                    color: white;
                    cursor: pointer;
                }
            }

            li{
                float:left;

                .clothes:hover{
                    background: #a992bc;
                    color: white;
                }
                
            // &:hover{
            //     +.hidden{
            //         display: block;
            //         +li{
            //             padding: 16px;
            //         }
            //     }

            // }

            // &:active{
            //     +.hidden{
            //         display: block;
            //     }
            // }

                a{
                    padding:0.9em;
                    text-decoration: none;
                    color: black;
                }
            }

        }
    }
}
