.cartContainer{
    display:grid;
    width:100%;
    grid-template-columns: 80% auto;
    min-height:100vh;

    .checkout{
        border-left: 1px solid black;
        text-align: center;

        table{
            td{
                padding:0;
            }
        }

        h2{
            margin-top:5em;
        }
        text-align: center;
    }

    button{
        width:80%;
        height:2em;
    }
}

table{
    width:60%;
    margin: 5em auto;
    border-collapse: collapse;

    .quality{
        text-align: center;
    }

    .price{
        text-align: center;
    }

    th{
        border-bottom:1px solid black;
        border-top:1px solid black;
        height:2em;
    }
    
    tr{
        td{
            min-width:8em;
            border-bottom: 1px solid black;
            margin:0; padding:0;
            img{
                width:30%;
            }
        }
    }
}