// .cartContainer{
//     display:flex;
//     flex-direction: column;
//     margin:auto;
//     width:50%;
//     border:2px solid black;
//     ul{
//         img{
//             width:5%;
//         }
//     }
// }
table{
    width:60%;
    margin: 5em auto;
    border-collapse: collapse;

    .quality{
        text-align: center;
    }

    .price{
        text-align: center;
    }

    th{
        border-bottom:1px solid black;
        border-top:1px solid black;
        height:2em;
    }
    
    tr{
        td{
            min-width:8em;
            border-bottom: 1px solid black;
            margin:0; padding:0;
            img{
                width:30%;
            }
        }
    }
}