<table *ngIf='items'>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <tr  *ngFor='let item of items.items'>
    <td>
      <img [src]='item.itemImg'>
      {{item.itemName}}
      {{item.itemDescription}}
    </td>
    <td>
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </td>
    <td>
      {{item.itemPrice}}
    </td>
  </tr>
  <tr>
    <td>Total</td>
    <td></td>
    <td>120</td>
  </tr>
</table>