
.card{
    // background:blue;
    // margin:0;padding:0;
    // height:100%;
    // width:100%;

  
        h2{
            font-family: 'Roboto Condensed', sans-serif
        }

        form{
            margin-top:2em;
            display: flex;
            flex-direction: column;

            button{
                margin-top: 1em;
            }

            input{
                background:#9AD0D5;
                border: none;
                border-bottom: 2px solid black;
                font-size: 1em;
                margin-top:1em;
                &:focus{
                    outline:none;
                }
            }
        }  
    
}
