<form [formGroup] = 'itemForm' (ngSubmit) = 'submitForm()'>
  <select formControlName = 'itemCategory'>
    <option value='shirt'>Shirt</option>
    <option value='outerwear'>Outerwear</option>
    <option value='athletic_wear'>Athletic Wear</option>
    <option value='accessories'>Accessories</option>
  </select>
  <input type='text' formControlName='itemName'>
  <input type='text' formControlName='itemPrice'>
  <input formControlName='itemDescription'>
  <input type='file' (change)='onFileChanged($event)' name='itemImg'>
  <button>Submit</button>
</form>
