<div class='adminContainer'>
  <div class='formContainer'>
    <h2>Add Item</h2>
    <form [formGroup] = 'itemForm' (ngSubmit) = 'submitForm()'>
      <select formControlName='gender'>
        <option value='male'>Male</option>
        <option value='female'>Female</option>
        <option value='neutral'>Neutral</option>
      </select>
      <select formControlName = 'itemCategory'>
        <option value='t-shirt'>T-Shirt</option>
        <option value='longsleeve'>Long Sleeve Shirt</option>
        <option value='tanktop'>Tank Top</option>
        <option value='hoodie'>Hoodie</option>
        <option value='pants'>Pants</option>
        <option value='accessories'>Accessories</option>
      </select>
      <input type='text' placeholder="Item" formControlName='itemName'>
      <input type='text' placeholder="Price" formControlName='itemPrice'>
      <input placeholder="Description" formControlName='itemDescription'>
      <input class="uploadbtn" type='file' (change)='onFileChanged($event)' name='itemImg'>
      <button>Submit</button>
    </form>
    
  </div>
  <div class='bodyContainer'>
    <div class='categoryContainer'>
      <div class='itemCategory'>
        <p (click)='toggleM()'>Men</p>
          <ul *ngIf='toggleMen' class='menCat'>
            <li>T-Shirts</li>
            <li>Long Sleeve Shirts</li>
            <li>Hoodies</li>
          </ul>
        <p (click)='toggleW()'>Women</p>
          <ul *ngIf='toggleWomen' class='womenCat'>
            <li>T-Shirts</li>
            <li>Tank Tops</li>
            <li>Long Sleeve Shirts</li>
            <li>Hoodies</li>
            <li>Sweatpants</li>
          </ul>
        <p (click)='toggleA()'>Accessories</p>
          <ul *ngIf='toggleAccessories' class='accessoriesCat'>
              <li>Hats</li>
              <li>Mugs</li>
              <li>Aprons</li>
              <li>Bags</li>
          </ul>
      </div>
    </div>
    <div class='itemContainer'>
      <div *ngFor='let i of item[0]' class='itemCard'>
        <img [src]="i.itemImg" /> 
        <h3>{{i.itemName}}</h3>
        <p>{{i.itemPrice}}</p>
        <button [id]="i.id" class="updatebtn" (click)="toggleModal()">Update</button>
          <div *ngIf="updateClicked" [id]=
          "i.id" class="modal">
            <div class="modal-content">
              <p>this is a modal</p>
            </div>
          </div>
        <button [id]="i.id" class="deletebtn" (click)="openDialog($event)">Delete</button>
      </div>
    </div>
  </div>
</div>


