<div class="main">

  <h1>Sale Items</h1>
  <hr>
  
  <h2>Mens and Womens</h2>
  <p>Limited time!</p>
  
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src='../assets/Hoodie- blk2.png' alt="Mountains" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src='../assets/Hoodie- white1.png' alt="Lights" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src='../assets/HoodieZip-gray1.png' alt="Nature" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src='../assets/zipup hoodie blk.png' alt="Mountains" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
  </div>
  
  <div class="content">
    <img src='../assets/HoodieZip-gray1.png' alt="Bear" style="width:100%">
    <h3>Featured Item</h3>
    <p>Mens 1150 Hoodie</p>
    <button>Order</button>
  </div>
  
  <!-- END MAIN -->
  </div>