<div class="jumbotron">
  <font color="white">
    <h1>Accessories</h1>
    <p>Find all of the latest and greatest 1150 gear below!</p>
  </font>
</div>


<div class="main">
  <h1>Eleven Fifty Gear</h1>
  <hr>
  
  <h2>Accessories</h2>
  
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="card">
        <img src='../assets/tote- blk.png' alt="T-Shirt" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src='../assets/tote-blk-2.png' alt="Hoodie" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src='../assets/tote-white.png' alt="Sweatpants" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src='../assets/apr-1.png' alt="Hat" style="width:100%">
        <h3>24.99</h3>
        <p>Mens 1150 Hoodie</p>
        <button>Order</button>
      </div>
    </div>
  </div>
  <div class="content">
    <img src='../assets/Trucker-blk.jpg' alt="Longsleeve" style="width:100%">
    <h3>Featured Item</h3>
    <p>Eleven Fifty Trucker Hat</p>
    <button>Order</button>
  </div>
    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column">
          <div class="card">
            <img src='../assets/Trucker-blk.jpg' alt="T-Shirt" style="width:100%">
            <h3>24.99</h3>
            <p>Mens 1150 Hat</p>
            <button>Order</button>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src='../assets/Trucker-blk.jpg' alt="Hoodie" style="width:100%">
            <h3>24.99</h3>
            <p>Mens 1150 Hoodie</p>
            <button>Order</button>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src='../assets/boonie.png' alt="Sweatpants" style="width:100%">
            <h3>24.99</h3>
            <p>Mens 1150 Hoodie</p>
            <button>Order</button>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src='../assets/Trucker-blk.jpg' alt="Hat" style="width:100%">
            <h3>24.99</h3>
            <p>Mens 1150 Hoodie</p>
            <button>Order</button>
          </div>
        </div>
      </div>
    </div>
  
  
  <!-- END MAIN -->

