<div class="container">
  <mat-sidenav-container>
    <mat-sidenav position="start" mode="side" opened>
      <h3>Categories</h3>
      <ul>
      <button mat-button>Shirts</button><br />
      <button mat-button>Pants</button>
    </ul>
  </mat-sidenav>
    <mat-sidenav-content>
      <mat-grid-list *ngIf="items" cols="6" rowHeight="2:1">
        <div *ngFor="let item of items">
          <mat-grid-tile>
            <h4>{{ item.itemName }}</h4><br />
            <p>{{ item.itemPrice }}</p>
            <p>{{ item.category }}</p>
            <p>{{ item.itemDescription }}</p>
          </mat-grid-tile>
        </div>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
        <mat-grid-tile>9</mat-grid-tile>
        <mat-grid-tile>10</mat-grid-tile>
        <mat-grid-tile>11</mat-grid-tile>
        <mat-grid-tile>12</mat-grid-tile>
        <mat-grid-tile>13</mat-grid-tile>
        <mat-grid-tile>14</mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>