@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.container {
    font-family: 'Roboto Condensed', sans-serif;
    // text-align: center;

    a {
        width: 100%;
        padding-top: 10px;
        letter-spacing: 2px;
        text-decoration: none;
    }

    mat-card {
        text-align: center;
        align-items: center;
    }
}

mat-sidenav {
    width: 15em;
}

.addbutton {
    background-color: #9AD0D5;
}


