<body>
    <section class="hero">
        <div class="hero-inner">
            <a ><img class='logo'src='.\assets\eleven-fifty-white.png'/></a>
            <h2>Look at this website and bask in its amazing glory!</h2>
            <a routerLink='mens' class='btn'>Lets get started...</a>
        </div>
    </section>
    <main>
        <div class="container">
            <h1>Our Mission</h1>
            <p>Eleven Fifty Academy is the coding school that exists for people, not profit.</p>
            <p>Eleven Fifty is bridging the growing technology skills gap by providing </p>
            <p>immersive training for coders of all skill levels.From introductory coding bootcamps to multi-tiered,</p>
            <p> advanced learning programs, Eleven Fifty Academy has a program for you.</p>
        </div>
    </main>
</body>
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="https://www.facebook.com/ElevenFiftyAcademy/" class="fa fa-facebook" target="_blank"></a>
    <a href="https://twitter.com/elevenfifty" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.instagram.com/elevenfiftyacademy/" class="fa fa-instagram" target="_blank"></a>
    <hr />
    <div>
        <p> <a href="https://www.elevenfifty.org" target="_blank">About</a> | <a href="https://www.elevenfifty.org/contact-eleven-fifty/" target="_blank">Contact Us</a> | <a href="https://www.elevenfifty.org/eleven-fifty-academy-application/" target="_blank">Apply</a>  </p>
    </div>
</footer>

